@import './variables.css';

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Luxurious+Script&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  color: var(--text-primary);
  background-color: var(--bg-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}
